body {
  background-color: green !important;
}

.container {
  min-height: 100vh !important;
  background-color: green !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  align-items: center;
  padding-top: 12px;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(197, 197, 197, 0.4);
}
.bg-success, .bg-danger {
  color: white !important;
}

.quiz-end {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.game-end-info{
  display: flex;
  align-items: center;
}